article, article>div.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    position: relative;
    min-height: 10vh;
    margin: 1% 0 3% 0;
    padding-bottom: 1em;
    background-color: white;
    font-family: Surfer;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

article>div.article-content {
    width: 100%;
    height: 100%;
}

article>div.article-content.hide {
    display: none;
}

article>div.article-content.show {
    display: flex;
}

article.large {
    width: 90%;
    border-radius: 1em;
}

article.emphasized {
    width: 60%;
    border-radius: 2em;
    border: 2px black solid;
}

article.card {
    max-width: 20%;
    margin: 1% 2%;
    padding: 0 2%;
    border-radius: 1em;
}

article.big {
    min-height: 25vh;
}

article>button.show-article, .card>button.show-card, .card-content>button.close-card {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-family: Surfer;
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

article>button.show-article {
    position: absolute;
    right: 2%;
}

.card>button.show-card, .card-content>button.close-card {
    margin-top: 1em;
}

article>button.show-article.toggle-hide,
article>button.show-article.toggle-show:hover,
.card>button.show-card.toggle-hide,
.card-content>button.close-card:hover {
    border: none;
    background-color: rgb(200, 40, 20);
    color: white;
    transform: rotate(5deg);
}

article>button.show-article.toggle-show,
article>button.show-article.toggle-hide:hover,
.card>button.show-card.toggle-hide:hover,
.card-content>button.close-card {
    border: 1px black solid;
    background-color: white;
    color: rgb(200, 40, 20);
    transform: rotate(-5deg);
}

article.card>button.show-article {
    position: relative !important;
}

article h2 {
    font-size: 2em;
}

article h3 {
    margin: 0.4em;
    font-size: 1.6em;
}

article p {
    font-size: 1.2em;
}

article a.spe_link {
    padding: 0.5em;
    border-radius: 0.5em;
    color: rgb(170, 40, 20);
    font-size: 1.5em;
    text-decoration: none;
    transition: all .3s;
}

article p a.spe_link {
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px transparent solid;
    font-size: 1.1em;
}

article a.spe_link:hover {
    background-color: rgba(220, 220, 220, 0.3);
    color: rgb(200, 40, 20);
    text-decoration: underline;
}

article p a.spe_link:hover {
    border: 1px rgb(50,50,50) solid;
}

article div.social-networks {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2%;
}

article div.social-networks>a.social-network {
    width: 3em;
    height: 3em;
    margin: 0 2%;
    border-radius: 1.5em;
    transition: all .3s;
}

article div.social-networks>a.social-network:hover {
    transform: scale(1.2);
}

article.card>img.thumbnail {
    max-width: 90%;
    max-height: 20vh;
    margin: 1vh 2%;
    border-radius: 1em;
    border: 2px black solid;
}

div.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.card-list>div.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 30%;
    height: 25vh;
    margin: 0 2%;
    padding: 1em;
    border-radius: 1.5em;
    border: 2px black solid;
}

.card>img.thumbnail {
    max-width: 90%;
    max-height: 60%;
}

.card>div.card-content-filter {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}

.card-content-filter>div.card-content {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70vw;
    max-height: 85vh;
    padding: 1.5em;
    border-radius: 1.5em;
    border: 2px black solid;
    background-color: white;
    overflow-y: auto;
    transform: translate(-50%, -50%);
}

article iframe {
    width: 50%;
    height: 25vh;
    border: none;
}

article iframe.large {
    width: 90%;
}

article iframe.big {
    height: 60vh;
}

article table th {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: rgb(170, 40, 20);
    color: white;
    font-family: Egg Roll;
    font-size: 1.5em;
    font-weight: normal;
}

article table th.large {
    min-width: 15vw;
    max-width: 30vw;
}

article table td {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px transparent solid;
    background-color: white;
    font-size: 1.2em;
    text-align: center;
    transition: all .5s;
}

article table td:hover {
    border: 1px black solid;
}

.card-content .desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.card-content .desc>img {
    max-width: 25vw;
    max-height: 30vh;
    border-radius: 1vh;
}

.desc>.desc-side, .desc>p {
    margin-left: 1.5em;
    width: 30vw;
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgba(200,200,200,0.5);
}

.desc-side .contacts a {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    border-radius: 1.5em;
    transition: all .3s;
}

.desc-side .contacts {
    display: flex;
    width: 90%;
    height: 3em;
    margin: 1em;
}

.desc-side .contacts a:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transform: scale(1.2);
}

.card-content .gallery {
    width: 50vw;
    display: flex;
}

.gallery>button.to-right, .gallery>button.to-left {
    width: 5vw;
    height: 40vh;
    border: 2px white solid;
    background-color: rgb(70,240,240);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
}

.gallery>.preview {
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30,30,30);
}

.gallery .preview>img {
    max-width: 100%;
    max-height: 100%;
}

.gallery>button.to-right:hover, .gallery>button.to-left:hover {
    border: 2px black solid;
    background-color: white;
    filter: invert(0);
}

.gallery>button.to-right {
    border-radius: 2vh 0 0 2vh;
    background-image: url(pictogrammes/circle_arrow_left.png);
}

.gallery>button.to-left {
    border-radius: 0 2vh 2vh 0;
    background-image: url(pictogrammes/circle_arrow_right.png);
}