div.popup {
    position: fixed;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 30vh;
    border-radius: 0 1em 1em 0;
    border: 2px black solid;
    border-width: 2px 2px 2px 0;
    background-color: white;
}

div.popup > div.popup-content {
    margin: 1em;
    padding-bottom: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .5s;
}

div.popup > div.popup-content.hide {
    max-width: 0;
    white-space: nowrap;
}

div.popup > div.popup-content.show {
    max-width: 25vw;
    white-space: normal;
}

label.popup-toggle {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

label.popup-toggle span {
    background-color: rgb(200,20,20);
    border-radius: 10px;
    width: 50%;
    height: 4px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.popup-toggle span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotate(45deg);
}

.popup-toggle span:nth-of-type(2) {
    transform-origin: top;
    transform: rotate(-45deg) translate(-3px, 2px);
}

.popup-toggle > input[type="checkbox"] {
    display: none;
}

.popup-toggle > input[type="checkbox"]:checked~span:nth-of-type(1) {
    width: 100%;
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 0px);
}

.popup-toggle > input[type="checkbox"]:checked~span:nth-of-type(2) {
    width: 100%;
    transform-origin: top;
    transform: rotatez(-45deg) translate(6px, -1px);
}

.popup-content h2 {
    font-family: Surfer;
    font-style: italic;
}